.überuns-section-first {
    background-image: url(/assets/img/uberuns.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.index2-section-first-text {
    background-color: #fafafa;
    display: flex;
    width: 35%;
    margin-left: 59%;
    margin-top: 15.8%;
    padding: 3%;
}
.index2-ssection-first-text div {
    margin-left: 8%;
    line-height: 140%;
}
.index2-section-zweiter {
    margin: 15%;
}
.index2-article-first p {
    font-size: 1.8em;
    font-weight: 900;
    line-height: 35px;
    margin: 4% 0;
}
.index2-article-zweiter {
    display: flex;
    justify-content: space-around;
}
.index2-article-zweiter div:nth-child(1) {
    width: 70%;
    margin-right: 3%;
}
.index2-article-zweiter div h3 {
    font-size: 1.3em;
    margin-bottom: 4%;
}

.index2-article-zweiter div:nth-child(2) {
    width: 80%;
}
.index2-article-zweiter div:nth-child(2) p {
    margin-bottom: 3%;
}
.index2-section-dreta {
    display: flex;
    margin: 15%;
}
.index2-section-dreta img {
    height: 500px;
    width: 350px;
}
.index2-section-dreta article {
    width: 50%;
    margin-right: 18%;
}
.index2-section-dreta article h2 {
    font-size: 2.3em;
    font-weight: 900;
    margin-bottom: 9%;
}
.index2-section-dreta article p {
    margin-bottom: 5%;
}
.index2-section-dreta article h1:nth-child(5) {
    margin-top: 19%;
    margin-bottom: 12%;
}
.index2-section-dreta article a {
    color: #000;
    font-size: 1.5em;
}
.index2-section-fierta {
    display: flex;
}
.index2-section-fierta img {
    width: 500px;
    height: 400px;
    margin-top: 10%;
}
.index2-section-fierta article {
    margin-left: 14%;
}
.index2-section-fierta h2 {
    margin-bottom: 18%;
}
.index2-section-fierta a {
    color: #000;
    font-size: 1.5em;
}
.index2-section-fierta-div {
    display: grid;
    grid-template-columns: 30% 30%;
    gap: 4%;
}
.index2-section-fierta-div div {
    width: 100%;
}
.index2-section-fienfta {
    margin: 8% 15%;
}
