* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Libre Baskerville", serif;
    font-family: "Fira Sans", sans-serif;
}
.hover {
    display: inline-block;
    position: relative;
}
.hover::before {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fafafa;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
#section-first {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.index-section-first {
    background-image: url(../img/menu_1.png);
}
.navigation {
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 10%;
    height: 10%;
}
.navigation ul {
    display: flex;
    list-style: none;
}
.navigation li {
    padding: 0 2vw;
}
.navigation a {
    text-decoration: none;
    color: #fafafa;
}
#section-first > div.section-first-link > p > a:nth-child(1) {
    padding-right: 2%;
}
.section-first-link {
    color: #fafafa;
    margin: 12% 0 0 40%;
}
.section-first-link h3 {
    font-size: 4em;
    font-family: "Libre Baskerville";
}
.section-first-link h3 sup {
    font-size: 1.2rem;
}
.section-first-link h2 {
    font-family: "Libre Baskerville", serif;
    font-size: 4em;
}
.section-first-link a {
    color: #fafafa;
    font-size: 2em;
    text-decoration: none;
}
.section-first-link p {
    display: flex;
    align-items: center;
}
.display-link-container {
    display: inline-block;
    padding-left: 2%;
}
.display-link {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 20px;
    width: 20px;
    background-color: white;
}
.display-link-container .display-link span {
    border: 1px solid rgba(255, 255, 0, 0.5);
}
#index-section-first > div:nth-child(3),
#index-section-first > div:nth-child(4),
#index-section-first > div:nth-child(5),
#index-section-first > div:nth-child(6) {
    display: none;
}
#index-main > section > div:nth-child(3) {
    display: none;
}
/* ------------------------ START - CODE VON JASCHA - Styling Section 3 -------------------*/
#index-section-third {
    height: 50vh;
    width: 100%;
    font-family: "Libre Baskerville", serif;
    display: flex;
    margin-bottom: 25%;
}
#index-section-third-article1 {
    width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: column;
}
.sectionThreeSlider {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ClassOfPictureSliderPicture {
    width: 80%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
}
#index-section-third-article2 {
    width: 40%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7.5%;
    margin-bottom: 5%;
}
#index-section-third-article2 h2,
#index-section-third-article2 p {
    margin: 2% 0;
}
.SchwarzerButton {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    width: 15%;
    text-align: center;
    box-shadow: 5px 5px black;
    font-size: 0.8em;
    padding: 1% 1%;
    margin-top: 3%;
}
.section-three-link a {
    color: black;
    font-size: 2em;
    text-decoration: none;
}
.section-three-link {
    margin-left: 15%;
}
.section-three-link .display-img {
    width: 100%;
    display: block;
    margin-top: 15%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
}
.section-three-link .arrow-left {
    padding-right: 2%;
}
#index-section-third-article1 > div:nth-child(2),
#index-section-third-article1 > div:nth-child(3),
#index-section-third-article1 > div:nth-child(4),
#index-section-third-article1 > div:nth-child(5),
#index-section-third-article1 > div:nth-child(6) {
    display: none;
}
/* ------------------------ ENDE - CODE VON JASCHA - Styling Section 3 -------------------*/
#index-main > section > div:nth-child(3) {
    display: none;
}
/* -------------------------------- section2 ------------------------------------------------------ */
.index-section-zweiter {
    margin: 8%;
}
.index-section-zweiter h2 {
    font-size: 2.5em;
    font-weight: 900;
}
.index-section-zweiter article {
    display: flex;
}
.index-section-zweiter article p {
    width: 27%;
}
.index-section-zweiter article p:nth-child(1) {
    margin-left: 25%;
    margin-right: 2%;
}
/* -------------------------------- footer ------------------------------------------------------ */
.index-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    padding: 4% 0;
    background-color: #232323;
}
.index-footer h2 {
    color: #fafafa;
    font-size: 1.9em;
}
.index-footer h4 {
    color: #fafafa;
}
input[type="button"] {
    background-color: #232323;
    color: #fafafa;
    border: 2px solid #fafafa;
    font-size: 1.4em;
    margin: 0 15%;
    padding: 10px 30px;
}
form {
    display: flex;
    justify-content: space-around;
}
/* ----------------------------- Custom CSS --------------------------------- */
.custom-section-first {
    background-image: url(../img/menu_2.png);
}
#custom-main .navigation a {
    color: black;
}
/* ----------------------------- B2B CSS --------------------------------- */
.b2b-section-first {
    background-image: url(../img/menu_3.png);
}
/* -----------------------------------------überuns css ------------------------ */
.index2-section-first {
    background-image: url(/assets/img/uberuns.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.index2-section-first-text {
    background-color: #fafafa;
    display: flex;
    width: 35%;
    margin-left: 59%;
    margin-top: 10.4%;
    padding: 3%;
}
.index2-section-first-text div {
    margin-left: 8%;
    line-height: 130%;
}
.index2-section-first-text h3 {
    color: #000;
    font-size: 1em;
}
.index2-section-first-text p {
    color: #000;
    font-size: 1rem;
}
.index2-section-zweiter {
    margin: 15%;
}
.index2-article-first p {
    font-size: 1.8em;
    font-weight: 900;
    line-height: 35px;
    margin: 4% 0;
}
.index2-article-zweiter {
    display: flex;
    justify-content: space-around;
}
.index2-article-zweiter div:nth-child(1) {
    width: 70%;
    margin-right: 3%;
}
.index2-article-zweiter div h3 {
    font-size: 1.3em;
    margin-bottom: 4%;
    color: #000;
}

.index2-article-zweiter div:nth-child(2) {
    width: 80%;
}
.index2-article-zweiter div:nth-child(2) p {
    margin-bottom: 3%;
}
.index2-section-dreta {
    display: flex;
    margin: 15%;
}
.index2-section-dreta img {
    height: 500px;
    width: 350px;
}
.index2-section-dreta article {
    width: 50%;
    margin-right: 18%;
}
.index2-section-dreta article h2 {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 9%;
}
.index2-section-dreta article p {
    margin-bottom: 5%;
    font-size: 1rem;
}
.index2-section-dreta article h1:nth-child(5) {
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 2rem;
}
.index2-section-dreta article a {
    color: #000;
    font-size: 1.5rem;
}
.index2-section-fierta {
    display: flex;
}
.index2-section-fierta img {
    width: 500px;
    height: 400px;
    margin-top: 10%;
}
.index2-section-fierta article {
    margin-left: 14%;
}
.index2-section-fierta article h1 {
    margin-bottom: 18%;
    font-size: 1.8em;
}
.index2-section-fierta a {
    color: #000;
}
.index2-section-fierta-div {
    display: grid;
    grid-template-columns: 30% 30%;
    gap: 4%;
}
.index2-section-fierta-div div {
    width: 100%;
}
.index2-section-fierta-div div h3 {
    color: #000;
    font-size: 1.4em;
    margin-bottom: 15%;
}
.index2-section-fierta-div div p {
    font-size: 1em;
    margin-bottom: 7%;
}
.index2-section-fienfta {
    margin: 8% 15%;
}
.index2-section-fienfta h2 {
    font-size: 2em;
    font-weight: 300;
}

/* ------------------------ START - CODE VON JASCHA - General Design Suggestion -------------------*/
/* ------------------------ Please keep it in the end, then the others will be overwritten. */
h1 {
    font-size: 4.375em;
    font-family: "Libre Baskerville", serif;
    color: #232323;
    font-weight: 700;
}
h2 {
    font-size: 3.125em;
    font-family: "Libre Baskerville", serif;
    color: #232323;
    font-weight: 700;
}
h3 {
    font-size: 1.875em;
    font-family: "Libre Baskerville", serif;
    color: #fafafa;
    font-weight: 700;
}
h4 {
    font-size: 1.25em;
    font-family: "Libre Baskerville", serif;
    color: #ffffff;
    font-weight: 700;
}
h5 {
    font-size: 0.75em;
    color: #232323;
    font-family: "Libre Baskerville", serif;
}
h6 {
    font-size: 0.5em;
}
p {
    font-size: 1.25em;
    font-family: "Libre Baskerville", serif;
    color: #232323;
}
a {
    font-size: 1em;
}
.SchwarzerButton {
    font-size: 0.75em;
    color: #232323;
    font-family: "Libre Baskerville", serif;
}
.BottomFooterDesign {
    font-family: "Libre Baskerville", serif;
    font-size: 1.25em;
    color: #ffffff;
    text-align: center;
    border: 2px solid #ffffff;
}
